{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"app": "./src/app",
				}
			}
		]
	],
	"env": {
		"test": {
			"presets": [
				[
					{
						"preset-env": {
							"modules": "commonjs"
						}
					}
				]
			]
		}
	}
}
